/* Structure */

body {
    font-family: Arial, Helvetica, sans-serif;

}
#main-header {
    margin:auto;
    width: 80%;
    background-color:blueviolet;
    padding: 5px;
}

#main-footer {
    margin:auto;
    width: 80%;
    background-color:black;
    padding: 5px;
}
/* Horizontal Navigation*/
.horizontal-nav ul {
    padding-left: 0px;

}
.horizontal-nav li {
    list-style-type: none;
    margin: 0 5px;
}
.horizontal-nav a {
    text-decoration: none;
}
/* Main Navigation */

 /* User navigation*/


/* Typography*/
h1 {
    text-align: center;
}

#main-footer, 
#main-footer a {
    color: white;
}
#main-footer ul {
    padding-left: 1%;
}
#main-footer li {
    list-style-type: none;
}
#main-footer a {
    text-decoration: none;
}
.footer-logo-text {
    font-size: 1.5em;
}

/* Larger Resolution */
@media only screen and (min-width: 768px){
    .horizontal-nav ul, 
    .flex-container {
        display: flex;
    }
    #main-nav ul {
        justify-content: center;
    }
    #user-nav ul {
        justify-content: flex-end;
    }
     #user-nav {
        position: absolute;
        top: 2%;
        right: 10%
    }
    .col1of2 {
        flex: 1;
    }
}