/* Structure */

body {
    background-color: #734049;
}

#main-header {
    background-color: whitesmoke;
}

#main-content {
    background-color: whitesmoke;
    margin: 1%
}

.padded-area {
    padding: 5px;
    margin: 1%;
}

/* Hovering  help from W3*/ 
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  
  .pop-up {
    transition: .3s ease;
    opacity: 0;
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .pop-up {
    opacity: 1;
  }
  
  .description {
    color: black;
    font-size: 16px;
    padding: 0;
    opacity: 1;
    max-width: 100%;
  }




/* Typography */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

.columns section {
    padding: 1%;
    margin: 3%;
}
h3 {
    font-size: large;
    text-decoration: underline;
}


/* Larger Resolutions */

@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
    }

    .items section {
        flex: 20%;
        flex-grow: 1;
    }
}