/* Structure */
:root {
    --primary: darkblue;
    --secondary: darkgreen;
    --tertiary: orange;
    --back: azure;
    --headback: bisque;
    --mainback: cadetblue;
    --footback: honeydew;
    --num: 15%;
}

body {
    background-color: var(--back);
}

#main-header {
    background-color: var(--headback);
}

.padded-area {
    padding: 5px;
    margin: auto;
}



/* gallery */

.items section {
    margin: 1%;
    padding: 1%;
    background-color: bisque;
    text-align: center;
}

.items section.highlighted {
    opacity: 100%;
}


/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}


.hide-small {
    display: none;
}
/* Modal Dialog */

#modal-background {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.dialog {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.dialog-hide {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialog-show {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialog img {
    max-width: fit-content;
    display: block;
    padding: 30px 5px 30px 30px;
    margin: auto;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Larger Resolutions */

@media only screen and (min-width: 600px) {
    #main-nav li {
        display: inline-block;
    }
    #toy-columns {
        display: flex;
        flex-wrap: wrap;
        align-items: right;
    }
    .items section {
        flex: 20%;
        flex-grow: 0;
    }
}