/* Structure for homepage */
body {
    background: #E2F9EA;
}
.col1,
.col2,
.col3 {
  background-color: #bda983;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.assignment-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* Typography */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#78E29C;
}
p {
    color:lavenderblush;
}
#content {
    background: #6DA981;
    width: 100%;
    margin:auto;
    padding:0px 2px;
    border-radius: 5px;
}
.assignments-header,
#main-title, 
#main-header {
  margin: auto;
  padding: 0px 2px;
  text-align: center;
}
.name {
  padding-left: 2px;
}
/* unvisited link */
a:link {
    color:darkgreen;
  }
  
  /* visited link */
  a:visited {
    color:lavenderblush;
  }

  /* link decoration */
  a {
    text-decoration: none;
  }
  /*Larger Resolution*/
@media only screen and (min-width: 600px) {
  .flex.container {
      display: flex;
  }
  .columns {
      display: flex;
  
  }
}