/* Main Page */
#project,
#assignments {
  background-color: #de5499;
  margin: 6%;
  padding: 5%;
  text-align: center;
}

/* Assignments Page */
body {
    background: #f2ebe9;
}
.columns {
  margin: 2%;
}

.col1,
.col2, 
.col3,
.col4, 
.col5, 
.col6,
.col7,
.col8,
.col9, 
.col10, 
.col11,
.col12,
.col13 {
  background-color: #eddcd9;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.assignment-images, #project-imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* Typography */
body {
    font-family: Raleway;
    color: black;
}
p {
    color:black;
    margin: 10px;
  }
#content {
    background: #43263c;
    width: 100%;
    margin:auto;
    padding:0px 2px;
    border-radius: 5px;
}
.assignments-header,
#main-title, 
#main-header, 
#project-header, 
#project-title {
  margin: auto;
  padding: 0px 2px;
  text-align: center;
}
.name {
  padding-left: 2px;
}
.main-headers, 
.project-headers {
  padding-bottom: 12%;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;

}
.description {
  text-align: center;
  max-width: 100%;
}
.repo-link {
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  display: block;

}
/* Project Page */
body {
  background-color: rgb(250, 218, 246);

}
#project-content {
  background-color: rgb(248, 126, 219);
  margin: 5%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-left: 90px;
}
.project-headers {
  padding: 1%;
  margin:3px;
}
#project-img {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: white;
}
#project-columns {
  background-color: #881e61;
  height: auto;
  width: 300px;
  text-align: center;
  margin: 2%;
  

}

/* unvisited link */
a:link {
    color:black;
  }
  
  /* visited link */
  a:visited {
    color: #615B5F;
  }

  /* link decoration */
  a {
    text-decoration: none;
  }
  /* Wireframe */
  iframe {
    margin: auto;
    display: block;
    text-align: center;
  }
  /*Larger Resolution*/
@media only screen and (min-width: 600px) {
  .flex.container {
      display: flex;
  }
  .columns, 
  #main-columns {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }

    .col1,
    .col2, 
    .col3,
    .col4, 
    .col5, 
    .col6,
    .col7,
    .col8,
    .col9, 
    .col10,
    .col11,
    .col12,
    .col13,
  #project,
  #assignments {
    flex-wrap: wrap;
    flex: 1;
  }
} 