/* Main Page */
#project,
#assignments {
  background-color: #de5499;
  margin: 6%;
  padding: 5%;
  text-align: center;
}

/* Assignments Page */
body {
    background: #f2ebe9;
}
.columns {
  margin: 2%;
}

.col1,  
.col2,
.col3,
.col4, 
.col5,
.col6,
.col7,
.col8 {
  background-color: #eddcd9;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.assignment-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* Typography */
body {
    font-family: Raleway;
    color: black;
}
p {
    color:black;
    margin: 10px;
  }
#content {
    background: #264143;
    width: 100%;
    margin:auto;
    padding:0px 2px;
    border-radius: 5px;
}
.assignments-header,
#main-title, 
#main-header {
  margin: auto;
  padding: 0px 2px;
  text-align: center;
}
.name {
  padding-left: 2px;
}
.main-headers {
  padding-bottom: 12%;
  font-size: 20px;
  text-decoration: underline;

}
.description {
  text-align: center;
}
/* Project Section */
body {
  background-color: aliceblue;

}



/* unvisited link */
a:link {
    color:black;
  }
  
  /* visited link */
  a:visited {
    color: grey;
  }

  /* link decoration */
  a {
    text-decoration: none;
  }
  /* Wireframe */
  iframe {
    margin: auto;
    display: block;
    text-align: center;
  }
  /*Larger Resolution*/
@media only screen and (min-width: 600px) {
  .flex.container {
      display: flex;
  }
  .columns {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }

  .col1,
  .col2, 
  .col3,
  .col4, 
  .col5, 
  .col6,
  .col7,
  .col8, 
  #project,
  #assignments {
    flex-wrap: wrap;
    flex: 1;
  }
  #main-columns {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    }
} 