Structure for homepage
body {
    background: #E2F9EA;
}
.col1,   /* need to figure out how to keep same width!!!*/
.col2,
.col3,
.col4, 
.col5,
.col6,
.col7 {
  background-color: rgb(187, 143, 157);
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.assignment-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* Typography */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(242, 197, 194);
}
p {
    color:lavenderblush;
    margin: 10px;
  }
#content {
    background: rgb(98, 177, 163);
    width: 100%;
    margin:auto;
    padding:0px 2px;
    border-radius: 5px;
}
.assignments-header,
#main-title, 
#main-header {
  margin: auto;
  padding: 0px 2px;
  text-align: center;
}
.name {
  padding-left: 2px;
}
/* unvisited link */
a:link {
    color:whitesmoke;
  }
  
  /* visited link */
  a:visited {
    color:lavenderblush;
  }

  /* link decoration */
  a {
    text-decoration: none;
  }
  /*Larger Resolution*/
@media only screen and (min-width: 600px) {
  .flex.container {
      display: flex;
  }
  .columns {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      }
  .col1,
  .col2, 
  .col3,
  .col4, 
  .col5, 
  .col6,
  .col7 {
    flex-wrap: wrap;
    flex: 1;
  }
}