/* Structure for homepage */
body {
    background:url(images/backgrounditaly.webp);
}
#content {
    background: rgba(180, 45, 12, 0.8);
    width: 80%;
    margin:auto;
    padding:0px 2px;
    border-radius: 5px;
}

/* Typography */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#000000;
}
p {
    color:rgb(0, 0, 0);
}
/* Tables */
table{
    border-collapse: collapse;
}
td, th {
    border: 2px solid black;
    background-color: darkgrey;
}
th{
    background-color:darkgreen;
}
/* Images */
img {
    
    border: 5px solid black;
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: center;
  }
  li a:hover {
    background-color:darkgray;
  }

/* unvisited link */
a:link {
    color:black;
  }
  
  /* visited link */
  a:visited {
    color:white;
  }

  /* link decoration */
  a {
    text-decoration: none;
  }