/* Main */
:root {
    --back: #fdf5ff;
    --text: #bd2967;
    --section: #f2b1db;
  }
  
  body {
    background-color: var(--back);
  }
  
  section {
 
    background-color: var(--section);
    margin:15px;
    padding: 8px;
    align-items: center;
    text-align: center; 
    border: 5px solid var(--text);    
    display: flex;

  }
section p {
    display: block;
    margin: 15px;
    display: inline-block;
    
}
section h2 {
    display: block;
    text-align: center;
}
  
section p {
    display: block;
    text-align: left;
}
#movies {
    flex-wrap: wrap;
    justify-content: center;
  }
  
/* Typograhy */
h1 {
    text-align: center;
}
  
body {
    font-family: monospace;
    color: var(--text);
    font-size: 16px;
}
.container2 {
    flex: 75%;
    text-align: left;
    font-size: 20px;      
}
  
/* Hover on the images*/
img:hover {
    transform: scale(1.75);
    transition: transform 0.5s;
}
  
img {
    max-width: 100%; 
    max-height: 100%;
    height: 200px;
    width: 200px; 
}
  